:root {
  --custom-chip-inline-padding: 1rem;
  --custom-chip-block-padding: 0.6rem;
  --custom-chip-inline-padding-sm: 1rem;
  --custom-chip-block-padding-sm: 0.25rem;
  --custom-chip-bg: var(--mantine-color-gray-1);
  --custom-chip-bg-hover: var(--mantine-color-gray-2);
  --custom-chip-bg-checked: var(--mantine-color-brand-6);
  --custom-chip-bg-checked-hover: var(--mantine-color-brand-5);
  --custom-chip-color-checked: var(--mantine-color-white);
}

.card {
  /* width: fit-content; */
  display: flex;
  align-items: center;
  column-gap: var(--mantine-spacing-sm);
  padding-inline: var(--custom-chip-inline-padding);
  padding-block: var(--custom-chip-block-padding);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  border-radius: 9999px;
  background: transparent;
}

.card:hover {
  background: var(--mantine-color-gray-1);
}

/* Checked state */
.card[data-checked='true'] {
  background: var(--custom-chip-bg-checked);
  color: var(--custom-chip-color-checked);
}

/* Size: small */
.card[data-size='sm'] {
  padding-inline: var(--custom-chip-inline-padding-sm);
  padding-block: var(--custom-chip-block-padding-sm);
}

/* Variant: filled */
.card[data-variant='filled'] {
  background: var(--custom-chip-bg);
}

.card[data-variant='filled']:hover {
  background: var(--custom-chip-bg-hover);
}

.card[data-variant='filled'][data-checked='true'] {
  background: var(--custom-chip-bg-checked);
}

.card[data-variant='filled'][data-checked='true']:hover {
  background: var(--custom-chip-bg-checked-hover);
}

/* TODO: Add focus styles for accessibility */
